##Conditional Logic

In [ ]:
is_old = False
is_licenced = False

if is_old:
  print("you are old enough to drive")
elif is_licenced:
  print("Valid to drive")
else:
  print("hmm re-check")

print("okie")

hmm re-check
okie

In [ ]:
is_old = True
is_licenced = True

if is_old and is_licenced:
  print("you are old enough to drive")
else:
  print("hmm re-check")

print("okie")

you are old enough to drive
okie

#Indentation in Python

interpreter find the space of each line ofcode
space hierarchy

#Truthy and Falsy

In [ ]:
password = '123'
username = 'kim'
if password and username:
  print("good one!")
else:
  print("hmm re-check")

print("okie")

good one!
okie

#Ternary Operator

In [ ]:
#condition_if_true if condition else condition_if_else
is_friend = True
can_message = "message allowed" if is_friend else "not allowed to message"
print(can_message)

message allowed

#Short Circuiting

In [ ]:
is_friend = True
is_user = True

if is_friend or is_user:
  print("best friends")

best friends

#Logical Operator
#>  <  == != and or not

In [ ]:
print('a' == 'hello')
print(4<5)
print(4>5)
print('a'>'A') #???
print(4 != 5)
print(not(1 == 1))

False
True
False
True
True
False

#Excercise Logical Operator

In [ ]:
is_magician = False
is_expert =  True

#check if magician and expert: "you are a magician"
if is_expert and is_magician:
  print("you are a magician")

#check if magician but not expert: "at least you're getting there"
elif not(is_expert) or is_magician:
  print("at least you're getting there")

#if you're not a magician "you need magic powers"
elif is_expert or not(is_magician):
  print("you need magic powers")

you need magic powers

#is vs ==

In [ ]:
print(True ==1) # 1 is true
print('' == 1) #type error
print([] == 1) # empty array or list
print(10 == 10.0)
print([] == [])

#== #equality

True
False
False
True
True

In [ ]:
#is check the loaction and memory are the same
print(True is True)
print('1' is '1')
print('1' is 1)
print([] is [])
print(10 is 10.0)
print([1,2,3] is [1,2,3]) #data structure with new location
a = [1,2,3]
b = [1,2,3]
print(a is b)

True
True
False
False
False
False
False

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-9-25cbb2fb40cc>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1' is '1')
<ipython-input-9-25cbb2fb40cc>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1' is 1)
<ipython-input-9-25cbb2fb40cc>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(10 is 10.0)

#For loops

In [ ]:
#String
for item in 'Zero':  #'Zero' iterable iterate each item
  print(item)

Z
e
r
o

In [ ]:
#List
for item in [1,2,3,4]:  #[] iterable iterate each item
  print(item)

1
2
3
4

In [ ]:
#Set
for item in {1,2,3,4}:  #{} iterable iterate each item
  print(item)

1
2
3
4

In [ ]:
#Tuple
for item in (1,2,3,4):  #() iterable iterate each item
  print(item)
print(item) # throw the last number

1
2
3
4
4

In [ ]:
#nested
for item in (1,2):  #() iterable iterate each item
  for x in ['a', 'b', 'c']:
    print(item, x)

1 a
1 b
1 c
2 a
2 b
2 c

#Iterables
  iterable iterate each item
  iterable: list, dictionary, tuple, set
  #iterated -> one by one check each item in the collection.

In [ ]:
#dictionary
users = {
    'name': 'Golem',
    'age': 5006,
    'can_swim': False
}

In [ ]:
#.items()
for item in users.items():
  print(item)

('name', 'Golem')
('age', 5006)
('can_swim', False)

In [ ]:
for item in users.items():
  key, value = item;
  print(key, value)

name Golem
age 5006
can_swim False

In [ ]:
for key, value in users.items():
  print(key, value)

name Golem
age 5006
can_swim False

In [ ]:
#.values()
for item in users.values():
  print(item)

Golem
5006
False

In [ ]:
#.keys()
for item in users.keys():
  print(item)

name
age
can_swim

#Excercise: Tricky Counter

In [ ]:
#counter
my_list = [1,2,3,4,5]

counter = 0
for item in my_list:
  counter = counter + item
  print(counter)

1
3
6
10
15

#range()

In [ ]:
print(range(10))
for number in range(0,5):
  print(number)

range(0, 10)
0
1
2
3
4

In [ ]:
for number in range(0,10,2): # 2 stopover
  print(number)

0
2
4
6
8

In [ ]:
for number in range(10,0,-2): # -2 stopover
  print(number)

10
8
6
4
2

In [ ]:
for number in range(2):
  print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#enumerate()

In [ ]:
for i,char in enumerate('hi-five'): #it throws the index of each item
  print(i,char)

0 h
1 i
2 -
3 f
4 i
5 v
6 e

In [ ]:
for i,char in enumerate(list(range(100))):
  if char == 50:
    print(f"index of:  {i}")

index of:  50

#While loop

In [ ]:
i = 0
while i < 10:
  print(i)
  break

0

In [ ]:
i = 0
while i < 5:
  print(i)
  #i = i + 1
  i+=1

0
1
2
3
4

In [ ]:
i = 0
while i < 5:
  print(i)
  #i = i + 1
  i+=1
  #break <~~else wont work
else:
  print("done with all the work")

0
1
2
3
4
done with all the work

#While Loop 2

In [ ]:
print("for loop")
for item in [1,2,3]:
  print(item)


print("while loop")
i = 0
while i < len([4,5,6]):
  print(i)
  i+=1

for loop
1
2
3
while loop
0
1
2

In [ ]:
#while is for conditional logic
while True:
  response = input("say something ")
  if (response == 'bye'):
    break

say something bye

#break, continue, pass

In [ ]:
#break ~ broke or exits it
#continue ~ going back to the top or for loop
for item in [1,2,3]:
  print(item)
  continue  #going back to the for loop
  print(item) #by pass

1
2
3

In [ ]:
#pass it passes to the next line
for item in [1,2,3]:
  print(item)
  pass  #for thinking
  print(item)

1
1
2
2
3
3

In [ ]:
for item in [1,2,3]:
  pass # do nothing

#Our First GUI

In [ ]:
#Excercise!!!
picture = [
    [0,0,0,1,0,0,0],
    [0,0,1,1,1,0,0],
    [0,1,1,1,1,1,0],
    [1,1,1,1,1,1,1],
    [0,0,0,1,0,0,0],
    [0,0,0,1,0,0,0]
]

In [ ]:
for row in picture:
  for pxl in row:
      if pxl == 1:
        print("*",end="") #end õption to change the (\n)next line
      else:
        print(" ",end="")
  print("")  #default new line

   *
  ***
 *****
*******
   *
   *

#Developer Fundamentals 4
  #a. (clean) make your code is clean
  #b. (readability) make your code eazy to understand
  #c. predicatable
  #d. DRY ~don't repeat yourself (use function)

In [ ]:
fill = '*' #for multiple lines
empty = ' ' #for multiple lines
for row in picture:
  for pxl in row:
      if pxl: # default is 1
        print(fill,end="") #end õption to change the (\n)next line
      else:
        print(empty,end="")
  print("")  #default new line

   *
  ***
 *****
*******
   *
   *

#Excercise Find Duplicate

In [ ]:
#Excercise: Check for duplicate in list:
some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']

duplicates = []
for value in some_list:
  if some_list.count(value) > 1:
    if value not in duplicates:
       duplicates.append(value)
print(duplicates)

['b', 'n']

##Functions

In [ ]:
#DRY ~Dont repeat yourself
# def ~ define (functions)
def say_hello():
  print("helloooo")
say_hello()

helloooo

In [ ]:
def show_tree():
  for row in picture:
    for pxl in row:
        if pxl == 1:
          print("*",end="") #end õption to change the (\n)next line
        else:
          print(" ",end="")
    print("")  #default new line


show_tree()
show_tree()

   *
  ***
 *****
*******
   *
   *
   *
  ***
 *****
*******
   *
   *

##Parameter and Agruments

In [ ]:
#parameters
def say_hello(name, emoji):
  print(f"hellooo {name} {emoji}")

#arguments
say_hello("kim", ":D") #call #invoke

hellooo kim :D

##Default Parameters and Key Argruments

In [ ]:
#parameters
def say_hello(name, emoji):
  print(f"hellooo {name} {emoji}")

#position arguments ~ values in proper position
say_hello("kim", ":D") #call #invoke

#keyword arguments ~ tell explicitly
say_hello(name="kim", emoji=":D")

hellooo kim :D
hellooo kim :D

In [ ]:
#Default parameters ~default prompt up when no parameter ir blank
def say_hello(name = 'Dark Vader', emoji = ':P'):
  print(f"hellooo {name} {emoji}")

##return

In [ ]:
#should do one thing really well
#should return soemthing.
def sumed(num1, num2):
  print(f"The ans: {num1 + num2}")
  total = num1 + num2
  return total # provide value from a modify value

sumed(4,5)

The ans: 9

9

In [ ]:
def sumed(num1, num2):
  def another_func(n1, n2):
    return num1 + num2
  return another_func(num1, num2) #return keyword automatically exit the function
total = sumed(10,20)
print(total)

30

##Methods vs Functions

In [ ]:
#functions
#list()
#print()
#max()
#min()
#input()
def some_random_stuff():
   pass
some_random_stuff

In [ ]:
#methods
#must be own by something
#when dot was typed
"hello".capitalize()

'Hello'

##Docstrings

In [ ]:
def test(a):
  #doc string start these are info
  '''
  Info this function test and prints param a
  '''
  #doc string end
  print(a)
test('!!!!')
help(test) # show how the function does
print(test.__doc__) # show how the function does

!!!!
Help on function test in module __main__:

test(a)
    Info this function test and prints param a


  Info this function test and prints param a

##Clean Code

In [ ]:
def is_even(num):
  if num % 2 == 0:
    return True
  elif num % 2 != 0:
    return False
print(is_even(51))

False

In [ ]:
def is_even(num):
  if num % 2 == 0:
    return True
  return False
print(is_even(51))

False

In [ ]:
def is_even(num):
  return num % 2 == 0

print(is_even(51))

False

##**args and **kwargs

In [ ]:
#*args **kwargs
# *arg tuple of argruments
def super_func(*args):
    print(args)
    return sum(args)

super_func(1,2,3,4,5)

(1, 2, 3, 4, 5)

15

In [ ]:
#**kwargs keyword argruments
def super_func(*args, **kwargs):
    print(args)
    total = 0
    i = 0
    for i in kwargs.values():
        total += i
    return sum(args) + total

super_func(1,2,3,4,5, num1=5,num2=10)

(1, 2, 3, 4, 5)

30

In [ ]:
#Rule: params, *args, default parameters, **kwargs
def super_func(name,*args, i = 'hi',**kwargs):
    print(args)
    total = 0
    i = 0
    for i in kwargs.values():
        total += i
    return sum(args) + total

super_func("kim",1,2,3,4,5, num1=5,num2=10)

(1, 2, 3, 4, 5)

30

##Exercise: Functions

In [ ]:
def highest_even(li):
  i = 0
  ev = []
  for i in li:
    if(i % 2) == 0:
      ev.append(i)
  return(max(ev))

  #ev.reverse()
  #return (ev[0])

print(highest_even([10,2,3,4,8,11]))

10

##Walrus Operator
:=

In [ ]:
# := that assigns values to variable as part of a larger expression.
a = "helloooooooooooooooooooooooooooooooooooooooooo"
if ((n:= len(a)) > 10):
  print(f"too long {n} elements")

too long 46 elements

In [ ]:
while((n:=len(a)) > 1):
    print(n)
    a = a[:-1]

print(a)

h

#Scope

In [ ]:
# scope - what variables do I have access to?
def some_func():
  total =100
#print(total) #total is not in scope

In [ ]:
if True:
  x =10

def some_func():
  total =100

print(x)

10

##Scope Rules
  #1 - start with local.
  #2 - Parent local.
  #3 - Global.
  #4 - built in python functions.

In [ ]:
a = 1               #3 Global
def parent():
  a = 10            #2 parent local scope
  def confusion():
      a = 5         #1 start with local scope
      return a
  return confusion()

print(a)
print(parent())

1
5

#global Keywords

In [ ]:
total = 0  # using this with the global keyword

def count():
    global total
    total +=1
    return total


count()
count()
print(count())

3

In [ ]:
#better way
total = 0
def count(total):
    total +=1
    return total


print(count(count(count(total))))

3

#nonlocal Keyword

In [ ]:
def outer():
  x = "local"
  def inner():
     nonlocal x     #refer to parent local
     x = "nonlocal"
     print("inner:", x)

  inner()
  print("outer:", x)

outer()

inner: nonlocal
outer: nonlocal