##Python usually use interpreter
###############################################
#Python create by Guido in 1991 version 2 or

*   List item
*   List item

python 2
#2008 python 3 was updated
###############################################

#Print & Input

In [ ]:
print("Lets Start!!!")
name = input('What is your name? ')
print("heellloooo: " + name)

Lets Start!!!
What is your name?  kim
heellloooo:  kim

#Data Types

#int, float, bool, str, list, tuple, set, dict, set

In [ ]:
#Fundamental Data Types:
int
float
bool
str
list
tuple
set
dict
set

#Classes -> custom types

#Specialized Data Types -> Extentions to the standard data type

None
complex #another 3rd type of int and float

complex

#Integer  & Float

In [ ]:
#Int  & Float
#Integers
print(2 + 4)
print(2 - 4)
print(2 * 4)
print(2 / 4)

6
-2
8
0.5

#Type

In [ ]:
#type
print(type(2 + 4))
print(type(2 - 4))
print(type(2 * 4))
print(type(2 / 4))
print(type(0))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>

#Float

In [ ]:
#float Consume more memory
print(type(0.0001))

<class 'float'>

#Power of or double multiply

In [ ]:
#double multiply ~ power of
print(2**3)

8

#Double Divide

In [ ]:
#double divide
print(5//4)

1

#Modulo

In [ ]:
#modulo ~ the remainder of the division
print(5 % 4)

1

#Math Functions

In [ ]:
#math functions
print(round(3.9))

4

In [ ]:
#abs function or absolute
print(abs(-20))

20

In [ ]:
#operator precedence###########################################
print(20 - 3 * 4)

# precedence arrangement
# ()
# **

print((20 - 3) +  2 ** 2)
# * /
# + -

8
21

In [ ]:
#binary number
print(bin(5)) #actual binary was 101
#convert back to int
print(int('0b101', 2)) #ans 5

0b101
5

#Variables naming
######################################
#Convensions
  snake_case
  
  start with lowercase or underscore
  
  letters, numbers, underscore  
  case, sensitive

  Don't overwrite keywords~example  print  
########################################

#Variable

In [ ]:
#Variables
user_iq = 190
print(user_iq)

190

#Constants

In [ ]:
#constants
#all in capital
PI=3.14

#Dunder Variable

In [ ]:
#dunder variable
#__cached__ #has function with it

a,b,c = 1,2,3
print(a)
print(b)
print(c)

1
2
3

#Expression vs Statement

In [ ]:
#Expression vs Statement############################################
iq =100
user_age = iq / 5 #expression iq / 5
#statement user_age = , iq =100
#augmented assignment operator
some_value = 5
#some_value = 5 + 2
some_value += 5 #augmented assignment operator equivalent also to 7
some_value = some_value * 2
#augmented assignment operator needed a value!
print(some_value)

20

#Strings

In [ ]:
#Strings#########################################################
str
"hello world"
print(type("hello world"))
user_name = 'supercoder'
password = 'supersecret'

long_string = '''
Cool
!  !
 ==
'''

print(long_string)
first_name = 'Nicolas'
last_name = 'Cage'

full_name = first_name + ' ' + last_name

print(full_name)

#string concatenation
print('hello ' + 'cat')
print('hello ' + str(5)) #type casting

<class 'str'>

Cool
!  !
 ==

Nicolas Cage
hello cat
hello 5

#Type Casting

In [ ]:
#type casting################################################
print(str(100))
print(type(str(100)))
print(type(int(str(100))))

#test
a= str(100)
b= int(a)
c= type(b)
print(c)
#type conversion

100
<class 'str'>
<class 'int'>
<class 'int'>

#Escape Sequence

In [ ]:
#Escape Sequence#############################################
#weather = 'It's sunny' error
#weather = "It's" "kind of" sunny" error
#\' or \" it will declare the next character was a string
weather = "It\'s \"kind of sunny"
weather = "\n" #new line
weather = "\t" #tab

weather = "\t It\'s kind of \n sunny"
weather = "\t It\'s kind of \n sunny"
print(weather)

	 It's kind of
 sunny

#Formatted strings

In [ ]:
#Formatted strings#############################################
name = 'johnny'
age =55
print('hi ' + name + '. Your are ' + str(age) + ' years old' )

#f is the formatted string (best)
print(f"Hi {name}. Your are {age} years old")

#fill in
print("Hi {}. Your are {} years old".format('Johnny','55'))
print("Hi {}. Your are {} years old".format(name,age))
print("Hi {1}. Your are {0} years old".format(name,age))
print("Hi {new_name}. Your are {new_age} years old".format(new_name=name,new_age=age))

hi johnny. Your are 55 years old
Hi johnny. Your are 55 years old
Hi Johnny. Your are 55 years old
Hi johnny. Your are 55 years old
Hi 55. Your are johnny years old
Hi johnny. Your are 55 years old

#Character Location or Index & [start:stop:stepover]

In [ ]:
#charcter location or index #####################################
#'me me me'
# 01234567 #index

selfish = 'abcdefgh'
        #  01234567
print(selfish[0])
print(selfish[7])
print(selfish)

#[start:stop]
print(selfish[0:2])

#[start:stop:stepover]
#stepover skip by 2
print(selfish[0:8:2])

#default
print(selfish[1:])
print(selfish[:5])
print(selfish[::2])

#negative and reverse
print(selfish[-2]) #negative index start at the end
print(selfish[::-1]) # reverse order
print(selfish[::-2]) # reverse order skip by 2

a
h
abcdefgh
ab
aceg
bcdefgh
abcde
aceg
g
hgfedcba
hfdb

#Immutability

In [ ]:
#Immutability##################################################################
selfish = '12345678'
#selfish[0] = '8' error it is immune
#cant re assign the string
#or create something new
selfish = selfish + '9'

#String Methods

In [ ]:
#string methods###########################################################################
#print, len and etc
#length character index###################################################################
greet = 'hiiiiiiii'
print(len(greet))
print(greet[0:len(greet)])

quote = 'to be or not to be'
print(quote.upper()) # all caps
print(quote.capitalize()) # beging char capitallized
print(quote.find('be')) #search the index in string
print(quote.replace('be', 'me')) #replace all occurences

print(quote) # string is not immunable # no changes happen
#creating a string
quote2 = quote.replace('be', 'me')

9
hiiiiiiii
TO BE OR NOT TO BE
To be or not to be
3
to me or not to me
to be or not to be

#Booleans

In [ ]:
#booleans###################################################################################
name = "kim"
is_cool = False

is_cool = True

print(bool(1))
print(bool(0))

True
False

#Conversion Practice

In [ ]:
#conversion practice#####################################################################################
from datetime import datetime
birth_year = input("what year are you born?")
age =  datetime.now().year  - int(birth_year)
print(f"My age was {age}")

what year are you born?1986
My age was 37

##Developer Fundamental

#Commenting>> Help others to understan your code

In [ ]:
user_name = input("Enter your user name: ")
password = input("Enter your user password: ")

hidden_password = '*' * len(str(password))
print(f"{str(user_name)} your password {hidden_password} is {len(str(password))} letter long")

Enter your user name: kimpambid
Enter your user password: 123465
kimpambid your password ****** is 6 letter long

##List are 'like' array

In [ ]:
li = [1,2,3,4,5]
li2 = ['a','b', 'c']
li3 = [1,2,'a', True]

##Data Structure

In [ ]:
amazon_cart = ['notebooks', 'sunglasses']
print(amazon_cart[1])

sunglasses

##List Slicing

In [ ]:
amazon_cart = ['notebooks',
               'sunglasses',
               'toys',
               'grapes']
print(amazon_cart[0:2])
print(amazon_cart[0::2])

['notebooks', 'sunglasses']
['notebooks', 'toys']

In [ ]:
#List are changeble
amazon_cart[0] = 'Laptop'
print(amazon_cart)

['Laptop', 'sunglasses', 'toys', 'grapes']

In [ ]:
amazon_cart[0:3]

['Laptop', 'sunglasses', 'toys']

In [ ]:
new_cart = amazon_cart #equivalent changes will be applied but not copy
new_cart[0] = 'gum'
print(new_cart)
print(amazon_cart)

['gum', 'sunglasses', 'toys', 'grapes']
['gum', 'sunglasses', 'toys', 'grapes']

# Copy List

In [ ]:
#copying other list
new_cart = amazon_cart[:] #copy
new_cart[0] = 'mouse'
print(new_cart)
print(amazon_cart)

['mouse', 'sunglasses', 'toys', 'grapes']
['gum', 'sunglasses', 'toys', 'grapes']

##Matrix is an array with  a array inside of it

In [ ]:
#two dimensional
matrix =[
         [1,5,1],
         [0,1,0],
         [1,0,1]
         ]

In [ ]:
matrix[0][1]

5

##List Methods

In [ ]:
basket = [1,2,3,4,5]
len(basket)

5

#Adding or append the list

In [ ]:
#adding
basket.append(100)
new_list = basket  #Changes at the end of the list
print(basket)
print(new_list)

[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 5, 100]

#Insert as per index of the list

In [ ]:
#insert modify the list
basket.insert(4,100)
print(basket)

[1, 2, 3, 4, 100, 5, 100]

In [ ]:
basket = [1,2,3,4,5]
new_list = basket.insert(5,200)
new_list = basket
print(basket)
print(new_list)

[1, 2, 3, 4, 5, 200]
[1, 2, 3, 4, 5, 200]

#Extend data on the List

In [ ]:
#extend
basket = [1,2,3,4,5]
new_list = basket.extend([100])
new_list = basket
print(basket)
print(new_list)

[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 5, 100]

#Removing data on the list
#as per index or last data as default

In [ ]:
#removing
basket = [1,2,3,4,5]
basket.pop() #delete the end of the list
print(basket)

[1, 2, 3]

In [ ]:
basket = [1,2,3,4,5]
basket.pop(0) #delete in the index whiich is thye index
print(basket)

[2, 3]

#Remove data on the list
#as per value

In [ ]:
#remove
basket = [1,2,3,4,5]
basket.remove(3)
print(basket)

[1, 2, 4, 5]

#Clear List

In [ ]:
#clear
basket = [1,2,3,4,5]
basket.clear() #clear all
print(basket)

[]

#Index
#display by index

In [ ]:
#index
basket = [1,2,3,4,5]
print(basket.index(2)) #display by index

1

In [ ]:
#index
basket = ['a','b','c','d','e']
print(basket.index('c')) #display by index

2

In [ ]:
basket = ['a','b','c','d','e']
print(basket.index('c',0,4)) #display by index

2

#Python Keywords

#in

In [ ]:
#python keyword
# in
basket = ['a','b','c','d','e']
print('d' in basket)
print('i' in basket)

True
False

# count

In [ ]:
# count
basket = ['a','b','c','d','e','d']
print(basket.count('d'))

2

# sort

In [80]:
# sort
basket = ['x','a','b','c','d','e','d','e']
basket.sort()
print(basket) # for printing only

['a', 'b', 'c', 'd', 'd', 'e', 'e', 'x']

# sorted

In [82]:
# sorted
basket = ['x','a','b','c','d','e','d','e']
print(sorted(basket)) #sort list in a function or new/copy list

['a', 'b', 'c', 'd', 'd', 'e', 'e', 'x']

In [83]:
new_basket= basket[:] #copying basket
new_basket.sort()
print(new_basket)

['a', 'b', 'c', 'd', 'd', 'e', 'e', 'x']

# .copy()

In [86]:
# .copy()
new_basket= basket.copy()
new_basket.sort()
print(new_basket)

['a', 'b', 'c', 'd', 'd', 'e', 'e', 'x']

# .reverse()

In [87]:
# .reverse()
basket = ['x','a','b','c','d','e','d','e']
basket.reverse() #swithing all the indexes in reverse
print(basket)

['e', 'd', 'e', 'd', 'c', 'b', 'a', 'x']

In [88]:
# .reverse()
basket = ['x','a','b','c','d','e','d','e']
basket.sort()
basket.reverse() #swithing all the indexes in reverse
print(basket)

['x', 'e', 'e', 'd', 'd', 'c', 'b', 'a']

# list slicing on reverse

In [91]:
# list slicing on reverse
basket = ['x','a','b','c','d','e','d','e']
basket.sort()
basket.reverse()
print(basket)
basket[::-1] #[start : end  :stopover]

['x', 'e', 'e', 'd', 'd', 'c', 'b', 'a']

['a', 'b', 'c', 'd', 'd', 'e', 'e', 'x']

# range

In [92]:
# range
print(range(1,100))

range(1, 100)

In [93]:
print(list(range(1,100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

# .join()

In [96]:
# .join()
sentence = ' '
new_sentence = sentence.join(['hi', 'whats', 'up'])
print(new_sentence)

hi whats up

In [97]:
new_sentence = ' '.join(['hi', 'whats', 'up'])
print(new_sentence)

hi whats up

# List Unpacking

In [100]:
#list unpacking
#list distribution
a,b,c= [1, 2, 3]
print(a)
print(b)
print(c)

#list unpacking
a,b,c,*other, d = [1, 2, 3,4,5,6,7,8,9]
print(a)
print(b)
print(c)
print(other) # display the undeclared
print(d)

1
2
3
1
2
3
[4, 5, 6, 7, 8]
9

# None & Null

In [102]:
# None & Null
#absence of a value
weapon = None
print(weapon)

None

#Dictionary

In [107]:
#Dictionary
#data type and data structure
#dict
#string display its value result
#no index arrangement or place in different spot of memory
dictionary = {
    'a':1,
    'b':2
}

print(dictionary['b'])
print(dictionary) #unorder key value

2
{'a': 1, 'b': 2}

In [113]:
dictionary = {
    'a':[1,2,3],
    'b':'hello',
    'x':True
}
print(dictionary['a'])

#array
my_list = [{
    'a':[1,2,3],
    'b':'hello',
    'x':True
},{
    'a':[4,5,6],
    'b':'bye',
    'x':False
}
           ]

print(my_list [0])

[1, 2, 3]
{'a': [1, 2, 3], 'b': 'hello', 'x': True}

#Undertanding Data Structure

In [115]:
dictionary = {
    'Weapon':[1,2,3],
    'Greeting':'hello',
    'Is_Magic':True
}
dictionary['Weapon']

[1, 2, 3]

#Dictionary key

In [117]:
#Dictionary key must be a string Immunable or discreptive
#has to be unique
dictionary = {
    '123':[1,2,3],
    '123':'hello',
}
dictionary['123']

'hello'

##Dictionary Method

In [118]:
user = {
    'basket':[1,2,3],
    'greet':'hello',
}
user['basket']

[1, 2, 3]

# .get method

In [122]:
user = {
    'basket':[1,2,3],
    'greet':'hello',
}

#prevent error since 'age' doesnt exist the default value will display
user.get('age',55)

55

#dict

In [125]:
user2 = dict(name= 'JohnJohn',
             age='55')
print(user2)

{'name': 'JohnJohn', 'age': '55'}

##Dictionary Method2

# in

In [126]:
user = {
    'basket':[1,2,3],
    'greet':'hello',
}

print('basket' in user)
print('size' in user)

True
False

# .keys()

In [127]:
user = {
    'basket':[1,2,3],
    'greet':'hello',
    'age': 20
}
print('age' in user.keys())

True

#.values

In [129]:
user = {
    'basket':[1,2,3],
    'greet':'hello',
    'age': 20
}
print('hello' in user.values())

True

#.items()

In [130]:
user = {
    'basket':[1,2,3],
    'greet':'hello',
    'age': 20
}
print(user.items())
#tuple

dict_items([('basket', [1, 2, 3]), ('greet', 'hello'), ('age', 20)])

#.clear()

In [131]:
user = {
    'basket':[1,2,3],
    'greet':'hello',
    'age': 20
}
print(user.clear())

None

#.copy()

In [132]:
user = {
    'basket':[1,2,3],
    'greet':'hello',
    'age': 20
}
user2 = user.copy()
print(user)
print(user2)

{'basket': [1, 2, 3], 'greet': 'hello', 'age': 20}
{'basket': [1, 2, 3], 'greet': 'hello', 'age': 20}

#.pop()

In [134]:
user = {
    'basket':[1,2,3],
    'greet':'hello',
    'age': 20
}
#remove was displayed
print(user.pop('age'))
print(user)

20
{'basket': [1, 2, 3], 'greet': 'hello'}

#.popitem()

In [136]:
user = {
    'basket':[1,2,3],
    'greet':'hello',
    'age': 20
}
#remove randomly
print(user.popitem())
print(user)

('age', 20)
{'basket': [1, 2, 3], 'greet': 'hello'}

#.update()

In [137]:
user = {
    'basket':[1,2,3],
    'greet':'hello',
    'age': 20
}
#update the dictionary
print(user.update({'age':55}))
print(user.update({'ages':35}))

print(user)

None
None
{'basket': [1, 2, 3], 'greet': 'hello', 'age': 55, 'ages': 35}

##Tuple
#list that cant be modified
#or Immutable list

In [140]:
my_tuple = (1,2,3,4,5)
#my_tuple[1] = 'z' #error cant be sorted or change, It is immutable
print(my_tuple[1])
print(5 in my_tuple)

#more faster than list

2
True

In [142]:
user = {
    (1,2):[1,2,3], # tuple
    'greet':'hello',
    'age': 20
}
print(user.items())
print(user[(1,2)])

dict_items([((1, 2), [1, 2, 3]), ('greet', 'hello'), ('age', 20)])
[1, 2, 3]

In [146]:
#Tuple
my_tuple = (1,2,3,4,5)
new_tuple = my_tuple[1:4]
print(new_tuple)

(2, 3, 4)

In [147]:
x,y,z,*other = (1,2,3,4,5)
print(other)

[4, 5]

#Tuple Method

a.count

b.index

#.count()
as per value

In [150]:
my_tuple = (1,2,3,4,5)
print(my_tuple.count(5))

1

#.index()

In [151]:
my_tuple = (1,2,3,4,5)
print(my_tuple.index(5))

4

In [152]:
my_tuple = (1,2,3,4,5)
print(len(my_tuple))

5

##Set

In [153]:
#unodered unique items
my_set = {1,2,3,4,5} #set
print(my_set)

{1, 2, 3, 4, 5}

In [154]:
my_set = {1,2,3,4,5,5} #set
print(my_set) # display only unique

{1, 2, 3, 4, 5}

In [155]:
my_set = {1,2,3,4,5}
my_set.add(100)
my_set.add(2)
print(my_set)

{1, 2, 3, 4, 5, 100}

#convert list to set

In [156]:
my_list = [1,2,3,4,5,6,5]
print(set(my_list))

{1, 2, 3, 4, 5, 6}

In [158]:
my_set= {1,2,3,4,5,5}
#print(my_set[0]) # doesnt allow index
print(1 in my_set)
print(len(my_set))

True

#convert set to list

In [ ]:
my_set= {1,2,3,4,5,5}
print(list( my_set))

#.copy()

In [161]:
my_set= {1,2,3,4,5,5}
new_set = my_set.copy()
print(new_set)

{1, 2, 3, 4, 5}

#.clear()

In [162]:
my_set= {1,2,3,4,5,5}
my_set.clear()
print(my_set)

set()

##Set Part 2

.difference()

.discard()

.difference_update()

.intersection()

.isdisjoint()

.issubset()

.issuperset()

.union()

In [171]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

#.difference()

In [164]:
print(my_set.difference(your_set)) #remove the duplicate of both sets

{1, 2, 3}

#.discard()

In [166]:
my_set.discard(5) #remove 5
print(my_set)

{1, 2, 3, 4}

.difference_update()

In [168]:
my_set.difference_update(your_set)
print(my_set)

{1, 2, 3}

#.intersection()

In [172]:
my_set= {1,2,3,4,5,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.intersection(your_set)) #display only the duplicate

{4, 5}

#.isdisjoint()

In [174]:
print(my_set.isdisjoint(your_set)) #

my_set = {1,2,3}
your_set = {4,5,6,7,8,9,10}

print(my_set.isdisjoint(your_set)) # true if nothing in common

False
True

#.issubset()

In [178]:
my_set = {4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.issubset(your_set)) #its inside of the other set

True

#.issuperset()

In [181]:
my_set = {4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.issuperset(your_set))
print(your_set.issuperset(my_set))  #many to few

False
True

#.union()

In [175]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.union(your_set)) # combines all

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [176]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set | your_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}