##Conditional Logic

In [12]:
is_old = False
is_licenced = False

if is_old:
  print("you are old enough to drive")
elif is_licenced:
  print("Valid to drive")
else:
  print("hmm re-check")

print("okie")

hmm re-check
okie

In [15]:
is_old = True
is_licenced = True

if is_old and is_licenced:
  print("you are old enough to drive")
else:
  print("hmm re-check")

print("okie")

you are old enough to drive
okie

#Indentation in Python

interpreter find the space of each line ofcode
space hierarchy

#Truthy and Falsy

In [18]:
password = '123'
username = 'kim'
if password and username:
  print("good one!")
else:
  print("hmm re-check")

print("okie")

good one!
okie

#Ternary Operator

In [20]:
#condition_if_true if condition else condition_if_else
is_friend = True
can_message = "message allowed" if is_friend else "not allowed to message"
print(can_message)

message allowed

#Short Circuiting

In [22]:
is_friend = True
is_user = True

if is_friend or is_user:
  print("best friends")

True
best friends

#Logical Operator
#>  <  == != and or not

In [29]:
print('a' == 'hello')
print(4<5)
print(4>5)
print('a'>'A') #???
print(4 != 5)
print(not(1 == 1))

False
True
False
True
True
False

#Excercise Logical Operator

In [32]:
is_magician = False
is_expert =  True

#check if magician and expert: "you are a magician"
if is_expert and is_magician:
  print("you are a magician")

#check if magician but not expert: "at least you're getting there"
elif not(is_expert) or is_magician:
  print("at least you're getting there")

#if you're not a magician "you need magic powers"
elif is_expert or not(is_magician):
  print("you need magic powers")

you need magic powers

#is vs ==

In [33]:
print(True ==1) # 1 is true
print('' == 1) #type error
print([] == 1) # empty array or list
print(10 == 10.0)
print([] == [])

#== #equality

True
False
False
True
True

In [41]:
#is check the loaction and memory are the same
print(True is True)
print('1' is '1')
print('1' is 1)
print([] is [])
print(10 is 10.0)
print([1,2,3] is [1,2,3]) #data structure with new location
a = [1,2,3]
b = [1,2,3]
print(a is b)

True
True
False
False
False
False
False

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-41-5f292c8724b5>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1' is '1')
<ipython-input-41-5f292c8724b5>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1' is 1)
<ipython-input-41-5f292c8724b5>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(10 is 10.0)

#For loops

In [47]:
#String
for item in 'Zero':  #'Zero' iterable iterate each item
  print(item)

Z
e
r
o

In [48]:
#List
for item in [1,2,3,4]:  #[] iterable iterate each item
  print(item)

1
2
3
4

In [49]:
#Set
for item in {1,2,3,4}:  #{} iterable iterate each item
  print(item)

1
2
3
4

In [51]:
#Tuple
for item in (1,2,3,4):  #() iterable iterate each item
  print(item)
print(item) # throw the last number

1
2
3
4
4

In [54]:
#nested
for item in (1,2):  #() iterable iterate each item
  for x in ['a', 'b', 'c']:
    print(item, x)

1 a
1 b
1 c
2 a
2 b
2 c

#Iterables
  iterable iterate each item
  iterable: list, dictionary, tuple, set
  #iterated -> one by one check each item in the collection.

In [58]:
#dictionary
users = {
    'name': 'Golem',
    'age': 5006,
    'can_swim': False
}

In [60]:
#.items()
for item in users.items():
  print(item)

('name', 'Golem')
('age', 5006)
('can_swim', False)

In [62]:
for item in users.items():
  key, value = item;
  print(key, value)

name Golem
age 5006
can_swim False

In [63]:
for key, value in users.items():
  print(key, value)

name Golem
age 5006
can_swim False

In [56]:
#.values()
for item in users.values():
  print(item)

Golem
5006
False

In [59]:
#.keys()
for item in users.keys():
  print(item)

name
age
can_swim

#Excercise: Tricky Counter

In [67]:
#counter
my_list = [1,2,3,4,5]

counter = 0
for item in my_list:
  counter = counter + item
  print(counter)

1
3
6
10
15

#range()

In [70]:
print(range(10))
for number in range(0,5):
  print(number)

range(0, 10)
0
1
2
3
4

In [71]:
for number in range(0,10,2): # 2 stopover
  print(number)

0
2
4
6
8

In [73]:
for number in range(10,0,-2): # -2 stopover
  print(number)

10
8
6
4
2

In [74]:
for number in range(2):
  print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#enumerate()

In [76]:
for i,char in enumerate('hi-five'): #it throws the index of each item
  print(i,char)

0 h
1 i
2 -
3 f
4 i
5 v
6 e

In [77]:
for i,char in enumerate(list(range(100))):
  if char == 50:
    print(f"index of:  {i}")

index of:  50

#While loop

In [83]:
i = 0
while i < 10:
  print(i)
  break

0

In [86]:
i = 0
while i < 5:
  print(i)
  #i = i + 1
  i+=1

0
1
2
3
4

In [89]:
i = 0
while i < 5:
  print(i)
  #i = i + 1
  i+=1
  #break <~~else wont work
else:
  print("done with all the work")

0
1
2
3
4
done wiyh all the work

#While Loop 2

In [92]:
print("for loop")
for item in [1,2,3]:
  print(item)


print("while loop")
i = 0
while i < len([4,5,6]):
  print(i)
  i+=1

for loop
1
2
3
while loop
0
1
2

In [94]:
#while is for conditional logic
while True:
  response = input("say something ")
  if (response == 'bye'):
    break

say something bye

#break, continue, pass

In [96]:
#break ~ broke or exits it
#continue ~ going back to the top or for loop
for item in [1,2,3]:
  print(item)
  continue  #going back to the for loop
  print(item) #by pass

1
2
3

In [97]:
#pass it passes to the next line
for item in [1,2,3]:
  print(item)
  pass  #for thinking
  print(item)

1
1
2
2
3
3

In [98]:
for item in [1,2,3]:
  pass # do nothing

#Our First GUI

In [112]:
#Excercise!!!
picture = [
    [0,0,0,1,0,0,0],
    [0,0,1,1,1,0,0],
    [0,1,1,1,1,1,0],
    [1,1,1,1,1,1,1],
    [0,0,0,1,0,0,0],
    [0,0,0,1,0,0,0]
]

In [115]:
for row in picture:
  for pxl in row:
      if pxl == 1:
        print("*",end="") #end õption to change the (\n)next line
      else:
        print(" ",end="")
  print("")  #default new line

   *
  ***
 *****
*******
   *
   *

#Developer Fundamentals 4
  #a. (clean) make your code is clean
  #b. (readability) make your code eazy to understand
  #c. predicatable
  #d. DRY ~don't repeat yourself (use function)

In [116]:
fill = '*' #for multiple lines
empty = ' ' #for multiple lines
for row in picture:
  for pxl in row:
      if pxl: # default is 1
        print(fill,end="") #end õption to change the (\n)next line
      else:
        print(empty,end="")
  print("")  #default new line

   *
  ***
 *****
*******
   *
   *

#Excercise Find Duplicate

In [120]:
#Excercise: Check for duplicate in list:
some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']

duplicates = []
for value in some_list:
  if some_list.count(value) > 1:
    if value not in duplicates:
       duplicates.append(value)
print(duplicates)

['b', 'n']